<div *ngIf="location">
    <h2>{{ location.name | titlecase }}</h2><button mat-raised-button color="primary" (click)="deleteLocation(locationId)">Delete</button>
    <div *ngFor="let weather of location.weather">
        <mat-card class="mat-card" *ngIf="weather">
            <mat-card-content>
                <mat-grid-list [cols]="4" rowHeight="30">
                    <mat-grid-tile-header>
                        <mat-grid-tile>Temperature</mat-grid-tile>
                        <mat-grid-tile>Wind</mat-grid-tile>
                        <mat-grid-tile>Rain</mat-grid-tile>
                        <mat-grid-tile>Date</mat-grid-tile>
                    </mat-grid-tile-header>
                    <mat-grid-tile>
                        {{ weather.temperature }}&deg;C
                    </mat-grid-tile>
                    <mat-grid-tile>
                        {{ weather.windSpeed }} m/s
                    </mat-grid-tile>
                    <mat-grid-tile>
                        {{ weather.rainAmountMM }} mm
                    </mat-grid-tile>
                    <mat-grid-tile>
                        {{ weather.date | date: 'mediumDate' }}
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
            <mat-card-footer>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary" (click)="deleteWeather(locationId, weather.id)">Delete</button>
                </mat-card-actions>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
<div class="chart-container">
    <canvas id="chart">{{ chart }}</canvas>
</div>